@import url('layout/base.css');
@import url('sections/header.css');
@import url('sections/maincontent.css');
@import url('sections/sidebar.css');
@import url('sections/about&partners.css');
@import url('sections/footer.css');
@import url('sections/welcome.css');
@import url('sections/comments.css');
@import url('sections/workadium.css');


@font-face{
  font-family: 'GothaPro';
  src: url('../fonts/GothamPro-Bold.woff');
  font-weight: bold;
  font-style: '';
}
@font-face{
  font-family: 'GothaPro';
  src: url('../fonts/GothamPro-Light.woff');
  font-weight: lighter;
 
}
@font-face{
  font-family: 'GothaPro';
  src: url('../fonts/GothamPro-LightItalic.woff');
  font-weight: '';
  font-style: italic;
 
}















