
body, html{
  /* width: 100%; */
  height: 100%;
}

body{
  font-family: 'GothaPro';
  line-height: 1.42;
  color: #221f1f;
}

ul{

  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

.wrapper{
  position: relative;
  min-width: 1080px;
  min-height: 100% ;
  overflow: hidden;
}
.wrapper:after{
  content: "";
  display: block;  
  height: 81px;       
}
.footer{
  height: 81px;
  background: #27273e;
  color: #fff;
  margin-top: -81px;
  min-width: 1080px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}


.container{
  width: 1060px;
  margin: 0 auto;