
body, html{
  /* width: 100%; */
  height: 100%;
}

body{
  font-family: 'GothaPro';
  line-height: 1.42;
  color: #221f1f;
}

ul{

  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}
*{
  box-sizing: border-box;
}
.wrapper{
  /* position: relative; */
  min-width: 1080px;
  min-height: 100% ;
  overflow: hidden;
}
.wrapper:after{
  content: "";
  display: block;  
  height: 81px;       
}
.footer{
  height: 81px;
  background: #27273e;
  color: #fff;
  margin-top: -81px;
  min-width: 1080px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}


.container{
  width: 1060px;
  margin: 0 auto;
}

.dropdawn{
  width: 160px;
  height: 60px;
  z-index: 10;
  border: 1px solid #fff;
  position: absolute;
  display: inline-block;
  top: 100%;
  margin-top: 20px;
  right: 99999px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.dropdawn__menu{
  display: inline-block;
}
.dropdawn__text-red{
  padding-bottom: 5px;
  padding-top: 5px;
}
.dropdawn__text{
  font-weight: normal;
  color: #221f1f;
}
.triangle{
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin-left: -30px;
  width: 0px;
  height:0px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}
.triangle:before{
  content:"";
  display: block;
  position: absolute;
  left: -15px;
  top: -15px;
  width: 0px;
  height:0px;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
