
.footer__col{
  float: left;
  width: 33.3%;
  padding-top: 10px;
}
.footer__text-link{
  color: #fff;
  font-weight: 700;
}
.footer__col_center{
  text-align: center;
}
.footer__col_right{
  text-align: right;
}
.socilas__list{
  padding-right: 49px;
  margin-top: 10px;
}
 .socials__item{
  display: inline-block;
} 

.socials__link{
 display: inline-block;
 width: 25px;
 height: 25px;
 background: url('../../img/icons/socials-icon.png') 0 0 no-repeat;
}

.socials__link_vk:hover{
  background-position: 0 bottom;
}

.socials__link_fb{
  background-position: -100px 0;
}
.socials__link_fb:hover{
  background-position: -100px bottom;
}
.socials__link_ggl{
  background-position: -200px 0;
}
.socials__link_ggl:hover{
  background-position: -200px bottom;
}

.socials__link_tw{
  background-position: -300px 0;
}
.socials__link_tw:hover{
  background-position: -300px bottom;
}
.socials__link_mail{
  background-position: -400px 0;
}
.socials__link_mail:hover{
  background-position: -400px bottom;
}
.link__schoolloft{
  font-weight: bold;
  color: #fff;
}