
.footer__col{
  float: left;
  width: 33.3%;
  padding-top: 10px;
}
.footer__text-link{
  color: #fff;
  font-weight: 700;
}
.footer__col_center{
  text-align: center;
}
.footer__col_right{
  text-align: right;
}
.socilas__list{
  padding-right: 72px;
  margin-top: 10px;
}
 .socials__item{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #d4d4d8;
  text-align: center;
  border-radius: 50%;
} 

